@charset "UTF-8";

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {font-family:'Noto Sans KR', 'GmarketSansMedium', '맑은 고딕', '돋움', Dotum, sans-serif; font-size:100%; margin:0; padding:0; border:0; vertical-align:baseline; word-break:break-all;}
body {line-height:1; color:black; }
ol, ul {list-style:none;}
h1, h2, h3, h4, h5, h6{font-weight:500;}
table {width:100%; border-collapse:separate; border-spacing:0;}
caption, th, td {font-weight:300; line-height:1.5em; text-align:center; vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:'' '';}
button,
input {overflow:visible;}
button::-moz-focus-inner {border:0; padding:0;}
input, select, img {vertical-align:middle;}
textarea {overflow:auto; overflow-x:hidden; vertical-align:top;}
em {font-style:normal;}
strong{font-weight:500;}
i{font-style:normal;}
html,
body {height:100%;}
html {overflow-y:scroll;}

body,
input,
textarea,
select,
button,
table {font-size:13px!important; line-height:1.2; color:#666; font-family:'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif; font-weight:400}
table thead th {font-weight:500;}

#app a {color:inherit; text-decoration:none;}
*+ html a {color:#666;}
#app a:focus,
#app a:hover {text-decoration:none;}
#app a:active {background-color:transparent;}

textarea:focus,
select:focus,
button:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[tabindex]:focus,
[href]:focus {outline:3px solid #ead3d7;}

hr {display:none;}
*, ::after, ::before{
    box-sizing: unset!important;
}

input::-webkit-input-placeholder {color:#666;}
input:focus::-webkit-input-placeholder {color:#dcdcdc;}
input::-moz-placeholder {color:#666; opacity:1;}
input:focus::-moz-placeholder {color:#dcdcdc;}

button,
input[type='submit'],
input[type='reset'] { padding:0;border:0 none; background-color:transparent; vertical-align:middle;}
button,
input[type='submit'],
input[type='button'] {cursor:pointer; margin:0; padding:0;}
input[type='text'],input[type='password'] {display:inline-block; height:25px; line-height:22px; padding-left:10px; border:1px solid #b5b5b5;}

input[type='password'][readonly],
input[type='text'][readonly],
input[type='password'][disabled],
input[type='text'][disabled] {background-color:#fff}
/* button:active {}s */
textarea {resize:none;}
#app select {/* font-size:12px; font-family:Verdana; */line-height:27px; height:26px; padding:3px 5px; border:1px solid #b4b3aa;}
/* select option {font-size:12px; font-family:Verdana; line-height:20px; height:20px; padding:0 5px;} */
textarea {border:1px solid #ddd; line-height:1.7; padding:10px;}
.hidden {font:0/0 a; height: 0; overflow: hidden; position: absolute; visibility: hidden; width: 0; zoom:1;}

#app {
    position: relative;
    width: 100%;
    min-width: 1040px;
}

ul{
    list-style:none;
    margin-bottom: 0!important;
}
dl:after, ul:after, ol:after{
    content: '';
    clear: both;
    display: block;
}

#app .ad_wrap{
    width: 100%;
    height: 80px;
    z-index: 101;
}
#app .ad_wrap .sect_head_ad {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}
.ad_reduce {
    position: relative;
    height: 80px;
    margin: 0 auto;
}


.sect-head-ad,
.head, .im-wrap,
#contents,
.foot,
.sect-smuse,
.sect-cinfo {position:relative; width:980px; margin:0 auto;}
.head h1, .sect-srh, .sect-booking,.sect-phototicket {position:absolute; z-index:1;}

#login-contents{
    position:relative; width:100%; margin:0 auto;
}

.header {position: relative;z-index: 101;}
.header .header_content {margin-bottom: 47px;background-color: #943939;border-bottom: 1px solid #eee;}
.header .contents {width: 980px;margin: 0 auto;}
.header .header_content .contents{display: flex;justify-content: space-between;padding: 15px 6px 18px 5px;background-color: #943939;}
        .header_content .contents .logo {display: inline-flex; align-items:flex-end; height:80px;}
        .header_content .contents .logo a{display: block;float: left;height: 100%;}
        .header_content .contents .logo a img{display: block;width: auto;height: 100%; object-fit: contain;}

        .header_content .contents .login_wrap{display: flex; align-items: center;margin-bottom: 0px}
        .header_content .contents .login_wrap li{margin-left: 44px;margin-top: 2px;}
        .header_content .contents .login_wrap li a{display: block; position: relative; padding-bottom: 25px;}
        .header_content .contents .login_wrap li a img{width: 32px; height: 32px;}
        .header_content .contents .login_wrap li a span{    position: absolute;
            bottom: 0;
            left: 50%;
            font-size: 13px;
            color: #ffdfa2;
            line-height: 1.462em;
            white-space: nowrap;
            transform: translate(-50%, 0);
        }

.nav{position:absolute; left:0; top:113px; width:100%; padding:0; background-color:#fff}
.nav:after{content:''; display:block; position:absolute; left:0; top:50px; width:100%; height:1px; background-color:#943939}
.nav:before{content:''; display:block; position:absolute; left:0; bottom:-2px; width:100%; height:1px; background-color:#a58e8e}
.nav .contents{position:relative}
.nav .contents h1{display:none}
    .nav_menu{display:inline-flex}
    .nav_menu > li{width:162px; padding:20px 0}
    .nav_menu > li:first-child{width:137px;}
    .nav_menu > li:first-child .nav_overMenu{padding-left:0}
    .nav_menu > li:first-child .nav_overMenu:before{content:none}
    .nav_menu > li:last-child{width:195px}
    .nav_menu > li:nth-child(2) > h2{left:160px}
    /*.nav_menu > li:nth-child(3) > h2{left:160px}*/
    /*.nav_menu > li:nth-child(4) > h2{left:240px}*/
    /*.nav_menu > li:nth-child(5) > h2{left:335px}*/
    .nav_menu > li:last-child > h2{left:320px}

    .nav_menu > li > h2{position:absolute; top:14px}
    .nav_menu > li > h2 > a{font-weight:500; font-size:16px; color:#222; line-height:1.500em;text-decoration: none;}
    /* .nav_menu > li > h2 > a:hover{text-decoration:underline} */
    .nav_menu > li > h2 > a strong{font-weight:700; color:#943939}
        .nav_overMenu{display:none; position:relative; margin-bottom:8px; padding:25px 0 0 25px}
        .nav_overMenu:before{content:''; position:absolute; left:0; top:45px; display:block; width:1px; height:113px; background-color:#eee; opacity:0.8}
        .nav_overMenu h3{height:auto; margin:0; line-height:1em; text-align:left; background-image:none}
        .nav_overMenu a:hover{text-decoration:underline}
        .nav_overMenu dt{padding-top:18px}
        .nav_overMenu dt a{font-weight:700; font-size:14px; color:#222; line-height:1.429em}
        .nav_overMenu dt + dd{margin-top:8px}
        .nav_overMenu dd a{font-weight:400; font-size:14px; color:#666; line-height:2.143em}

    .nav.active .nav_overMenu{display:block}

.nav.fixed{position:fixed; top:0px; min-width:1040px;}
.nav.fixed:after{top:0; bottom:auto; height:60px; background-image:linear-gradient(to right, rgb(148, 57, 57) 30%, rgb(194, 64, 47) 66%, rgb(194, 80, 35)); z-index:1}
.nav.fixed .contents{z-index:2}
.nav.fixed .contents h1{display:block; position:absolute; left:0; top:1px; width:70px; height:32px; z-index:3}
.nav.fixed .contents h1 a{display:block}
.nav.fixed .contents h1 a img{width:100px; height:30px;margin-top: 7px;}
.nav.fixed .contents .nav_menu > li:first-child > h2{left:150px;color: #ffdfa2}
.nav.fixed .contents .nav_menu > li:nth-child(2) > h2{left:260px;color: #ffdfa2}
/*.nav.fixed .contents .nav_menu > li:nth-child(3) > h2{left:280px}*/
/*.nav.fixed .contents .nav_menu > li:nth-child(4) > h2{left:360px}*/
/*.nav.fixed .contents .nav_menu > li:nth-child(5) > h2{left:455px}*/
.nav.fixed .contents .nav_menu > li:last-child > h2{left:370px}
.nav.fixed .contents .nav_menu > li > h2 > a{color:#ffdfa2}
.nav.fixed .contents .nav_menu > li > h2 > a strong{color:#ffdfa2}
.nav.fixed .contents .totalSearch_wrap:before,
.nav.fixed .contents .totalSearch_wrap:after{background-color:#000; opacity:0.2}
.nav.fixed .contents .totalSearch_wrap label input[type="text"]{color:#ffdfa2; background-color:transparent}
.nav.fixed .contents .totalSearchAutocomplete_wrap{position:absolute; left:0; top:49px}

footer{min-width:1040px; padding:0 0 14px; background-color:#f8f8f8}
footer .policy_list{display:flex; justify-content:space-between; max-width:980px; margin:0 auto; padding:23px 0; border-bottom:1px solid #ebebeb}
footer .policy_list li a{font-weight:500; font-size:13px; color:#666; line-height:1.462em}
footer .policy_list li a:hover{text-decoration:underline}
footer .policy_list li a strong{font-weight:700; color:#222; text-decoration:underline}
footer .company_info_wrap{display:flex; justify-content:space-between; align-items:flex-end; max-width:980px; margin:0 auto; padding:23px 0}
.company_info{font-size:12px; color:#666; line-height:1.667em}
.company_info address{font-style:normal}
.company_info .company_info_list{display:flex}
.company_info .company_info_list dt:after{content:':'; padding:0 4px}
.company_info .company_info_list dt ~ dt:before{content:'·'; padding:0 8px 0 4px}
.company_info .company_info_list dd a{text-decoration:underline}

footer .familysite_wrap{position:relative; }
footer .familysite_wrap label{position:absolute; left:0; top:0; width:calc(100% - 38px); height:100%; font-size:0; line-height:0}
footer .familysite_wrap select{position:relative; height:34px; font-size:12px; color:#666; line-height:34px; border:none; background-color:transparent; border:1px solid #d8d8d8}
footer .familysite_wrap select option.familysiteTitle{display:none}
footer .familysite_wrap .btn_familysite{display:inline-flex; justify-content:center; align-items:center; width:36px; height:34px; margin-left:-1px; font-size:14px; color:#fff; line-height:1.429em; background-color:#9e9e9e; vertical-align:top}


#container {/*overflow:hidden;*/ position:relative; width:100%; z-index:7}
#container.bg-bricks {background:url(https://img.cgv.co.kr/r2014/images/common/bg/bg_c_bricks.png) repeat-x 0 29px}
#container .contents{width:980px; height:100%; margin:0 auto}

#contents {clear:both; padding-bottom:50px;}
.btn_wrap{display:flex; flex-wrap:wrap}
.btn_wrap a{display:inline-flex; justify-content:center; margin-left:3px; text-align:center}
.btn_wrap a ~ a{margin-left:10px}
.btn_borderStyle1{min-width:108px; padding:9px 10px 11px; font-weight:500; font-size:14px; color:#222; line-height:18px; border:1px solid #d8d8d8; border-radius:4px}
.btn_borderStyle1:hover{opacity:0.8}
.btn_style1{min-width:110px; padding:9px 10px 11px; font-weight:500; font-size:14px; color:#fff; line-height:20px; background-color:#fb4357; border-radius:4px}
.btn_style1:hover{opacity:0.8}
/* S > IMAGES */
.img_wrap{position:relative; overflow:hidden}
.img_wrap > img{position:absolute; left:0; top:50%; width:100%; height:auto; transform:translate(0, -50%)}
.img_wrap:hover > img{transform:scale(1.1) translate(0, -45%); transition:all 0.5s}
.img_wrap[data-scale=false]:hover img{width:100%; transform:translate(0, -50%); transition:none}

/* S > 무비차트 */
.movieChart_list.carousel__viewport{overflow:visible; position:relative;}
.movieChart_list:before{content:''; display:block; position:absolute; left:-30px; top:0; width:10px; height:100%; background-color:#fff; z-index:2}
.movieChart_list:after{content:''; display:block; position:absolute; right:-30px; top:0; width:10px; height:100%; background-color:#fff; z-index:3}
.movieChart_list .carousel__viewport{counter-reset:movie-chart-counter}
.movieChart_list .carousel__viewport .carousel__track{counter-reset:movie-chart-counter;}
.movieChart_list .carousel__viewport .carousel__track .carousel__slide{flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    justify-content: start;
}
.movieChart_list .carousel__track .carousel__slide .img_wrap{overflow:hidden; position:relative; width:170px; height:234px; border-radius:10px}
.movieChart_list .carousel__track .carousel__slide .img_wrap:before{content:''; display:block; position:absolute; left:0; top:0; width:100%; height:100%; background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.85)); z-index:2}
.movieChart_list .carousel__track .carousel__slide .img_wrap:after{content:counter(movie-chart-counter); counter-increment:movie-chart-counter; position:absolute; left:9px; bottom:-4px; font-weight:400; font-size:50px; font-style:italic; color:#fff; line-height:1em; z-index:3; text-shadow:2px 5px 5px rgba(0, 0, 0, 0.45)}
.movieChart_list .carousel__track .carousel__slide .img_wrap img{z-index:1}
.movieChart_list .carousel__track .carousel__slide .img_wrap .movieAgeLimit_wrap{position:absolute; right:6px; top:7px; z-index:4}
.movieChart_list .carousel__track .carousel__slide .img_wrap .movieAgeLimit_wrap img{width:22px; height:22px}
.movieChart_list .carousel__track .carousel__slide .img_wrap .movieAgeLimit_wrap .dDay_wrap{display:block; width:22px; height:22px; margin-top:5px; font-weight:500; background-color:#fff; border-radius:50%}
.movieChart_list .carousel__track .carousel__slide .img_wrap .movieAgeLimit_wrap .dDay_wrap span{display:flex; justify-content:center; align-items:center; width:100%; height:100%; font-weight:500; font-size:10px; color:#fb4357; transform:scale(0.9); white-space:nowrap}
.movieChart_list .carousel__track .carousel__slide .img_wrap .movieAgeLimit_wrap .dDay_wrap span:before{content:'D-'attr(data-count)}
.movieChart_list .carousel__track .carousel__slide .img_wrap .screenType_wrap{position:absolute; right:10px; bottom:10px; z-index:5}
.movieChart_list .carousel__track .carousel__slide .img_wrap .screenType_wrap .screenType{display:flex; align-items:center; position:relative; width:34px; height:10px; border:1px solid rgba(223, 223, 223, 0.5); border-radius:3px}
.movieChart_list .carousel__track .carousel__slide .img_wrap .screenType_wrap .screenType ~ .screenType{margin-top:2px}
.movieChart_list .carousel__track .carousel__slide .img_wrap .screenType_wrap .screenType img{width:35px; height:7px}
.movieChart_list .carousel__track .carousel__slide .img_wrap .movieChart_btn_wrap{display:none}

.movieChart_list .carousel__track .carousel__slide .img_wrap:hover{box-shadow:6px 10px 20px 0 rgba(0, 0, 0, 0.4)}
.movieChart_list .carousel__track .carousel__slide .img_wrap:hover:before{background-color:rgba(0, 0, 0, 0.5); background-image:none}
.movieChart_list .carousel__track .carousel__slide .img_wrap:hover:after{opacity:0}
.movieChart_list .carousel__track .carousel__slide .img_wrap:hover .movieAgeLimit_wrap{display:none}
.movieChart_list .carousel__track .carousel__slide .img_wrap:hover .screenType_wrap{display:none}
.movieChart_list .carousel__track .carousel__slide .img_wrap:hover .movieChart_btn_wrap{display:flex; flex-direction:column; justify-content:center; align-items:center; position:absolute; left:0; top:0; width:100%; height:100%; z-index:3}
.movieChart_list .carousel__track .carousel__slide .img_wrap:hover .movieChart_btn_wrap a{display:inline-flex; justify-content:center; align-items:center; width:120px; height:34px; font-weight:500; font-size:13px; line-height:1.462em; border-radius:4px}
.movieChart_list .carousel__track .carousel__slide .img_wrap:hover .movieChart_btn_wrap a ~ a{margin-top:6px}
.movieChart_list .carousel__track .carousel__slide .img_wrap:hover .movieChart_btn_wrap a:hover{opacity:0.8}
.movieChart_list .carousel__track .carousel__slide .img_wrap:hover .movieChart_btn_wrap a.btn_movieChart_detail{color:#666; background-color:#fff}
.movieChart_list .carousel__track .carousel__slide .img_wrap:hover .movieChart_btn_wrap a.btn_movieChart_ticketing{color:#fff; background-color:#fb4357}

.movieChart_list .carousel__track .carousel__slide .movie_info_wrap{display:flex; flex-wrap:wrap; justify-content: center;}
.movieChart_list .carousel__track .carousel__slide .movie_info_wrap .movieName{display:block; flex-basis:100%; overflow:hidden; margin-top:14px; font-size:18px; color:#222; line-height:1.167em; text-align:center; text-overflow:ellipsis; white-space:nowrap}
.movieChart_list .carousel__track .carousel__slide .movie_info_wrap > span{display:block; float:left; margin-top:9px; font-size:14px; color:#444; line-height:1.214em}
.movieChart_list .carousel__track .carousel__slide .movie_info_wrap > span ~ span{position:relative; padding-left:16px}
.movieChart_list .carousel__track .carousel__slide .movie_info_wrap > span ~ span:before{content:''; display:block; position:absolute; left:6px; top:50%; width:1px; height:10px; margin-top:-5px; background-color:#ededed}
.movieChart_list .carousel__track .carousel__slide .movie_info_wrap > span img{width:16px; height:16px; vertical-align:top}

.movieChart_list .carousel__prev{overflow:hidden; top:calc(50% - 26px); width:40px; height:40px; margin-top:-20px; font-size:0; border-radius:50%; box-shadow:2px 2px 8px 0 rgba(0, 0, 0, 0.2);background:rgba(255, 255, 255, 0.8);opacity: 0.5;}
.movieChart_list .carousel__prev:after{content:''; width:40px; height:40px; background:rgba(255, 255, 255, 0.8) url('~@/assets/img/ico/arrowR.png') center/20px 20px scroll no-repeat;transform:rotate(-180deg);}
.movieChart_list .carousel__next{overflow:hidden; top:calc(50% - 26px); width:40px; height:40px; margin-top:-20px; font-size:0; border-radius:50%; box-shadow:2px 2px 8px 0 rgba(0, 0, 0, 0.2);background:rgba(255, 255, 255, 0.8);opacity: 0.5;}
.movieChart_list .carousel__next:after{content:''; width:40px; height:40px; background:rgba(255, 255, 255, 0.8) url('~@/assets/img/ico/arrowR.png') center/20px 20px scroll no-repeat;}
.movieChart_list .carousel__prev--in-active{display: none;}
.movieChart_list .carousel__next--in-active{display: none;}


.movieSelection_wrap{position:relative; height:498px; background-color:#000; border-top:1px solid #943939}
/* .movieSelection_wrap .contents{} */
.movieSelection_wrap .contents .video_wrap{overflow:hidden; position:relative; width:100%; height:100%}
.movieSelection_wrap .contents .video_wrap:before{content:''; width:100%; height:100%; position:absolute; left:0; top:0; background-image:linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.25) 75%, #000 100%); z-index:2}
/* .movieSelection_wrap .contents .video_wrap:after{content:''; width:490px; height:100%; position:absolute; right:0; top:0; background-image:linear-gradient(to right, rgba(0, 0, 0, 0) 0%,#000 90% ,#000 100%); z-index:3} */
.movieSelection_wrap .contents .video_wrap video{position:relative; width:100%; height:100%; transform:scale(1.35);/*left:-11%; top:-11%; width:122%; height:122%; object-fit:cover;*/ z-index:1}
.movieSelection_wrap .contents .video_wrap img{width:100%; height:100%; object-fit:cover}
.movieSelection_wrap .contents .movieSelection_title{position:absolute; top:170px; left:0; font-weight:700; font-size:40px; color:#fff; line-height:1.450em; text-shadow:2px 2px 4px rgba(0, 0, 0, 0.72); z-index:2; /*animation:tt1 1s 3s ease-in forwards;*/ pointer-events:none}
.movieSelection_wrap .contents .movieSelection_txt{display:-webkit-box; overflow:hidden; position:absolute; top:239px; left:0; max-width:100%; font-size:20px; color:#fff; line-height:1.450em; text-overflow:ellipsis; z-index:3; -webkit-line-clamp:2; -webkit-box-orient:vertical; /*animation:tt2 1s 3s ease-in forwards;*/ pointer-events:none}
.movieSelection_wrap .contents .movieSelection_video_controller_wrap{display:inline-flex; position:absolute; top:315px; left:3px; z-index:4; /*animation:tt 0.8s 3s ease-in forwards*/}
/*@keyframes tt {
	from{top:315px;}
	to{top:450px;}
}
@keyframes tt1 {
	to{filter:blur(10px); opacity:0}
}
@keyframes tt2 {
	to{filter:blur(10px); opacity:0}
}*/
.movieSelection_wrap .contents .movieSelection_video_controller_wrap .btn_movieSelection_detailView{display: block;padding: 5px 30px 5px 18px;font-size: 14px;color: #343434;line-height: 1.429em;background: rgba(255, 255, 255, 0.8) url('~@/assets/img/ico/arrowR.png') calc(100% - 11px) center/8px 13px scroll no-repeat;border-radius: 15px;}
.movieSelection_wrap .contents .movieSelection_video_controller_wrap .btn_movieSelection_playStop{display:block; margin-left:10px; width:28px; height:28px; font-size:0; background:transparent url('~@/assets/img/ico/play.png') center/18px scroll no-repeat; border:1px solid #979797; border-radius:50%}
.movieSelection_wrap .contents .movieSelection_video_controller_wrap .btn_movieSelection_playStop.active{background:transparent url('~@/assets/img/ico/pause.png') center/18px scroll no-repeat;}
.movieSelection_wrap .contents .movieSelection_video_controller_wrap .btn_movieSelection_soundOnOff{display:block; margin-left:10px; width:28px; height:28px; font-size:0; background:transparent url("~@/assets/img/ico/soundOff.png") center/18px scroll no-repeat; border:1px solid #979797; border-radius:50%}
.movieSelection_wrap .contents .movieSelection_video_controller_wrap .btn_movieSelection_soundOnOff.active{background:transparent url('~@/assets/img/ico/soundOn.png') center/18px scroll no-repeat;}

.movieChartBeScreen_wrap{clear:none; float:none; background-image:linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(232, 232, 232, 0.37))}
.movieChartBeScreen_wrap .contents{overflow:hidden; margin-left:-30px; padding:50px 30px 60px}
.movieChartBeScreen_wrap .contents .movieChart_list:before,
.movieChartBeScreen_wrap .contents .movieChart_list:after{content:none}
.movieChartBeScreen_btn_wrap{display:flex; align-items:center; justify-content:space-between; margin-bottom:20px}
.movieChartBeScreen_btn_wrap .tabBtn_wrap{display:inline-flex }
.movieChartBeScreen_btn_wrap .tabBtn_wrap h3{height:auto; margin:0; line-height:1em; background-image:none}
.movieChartBeScreen_btn_wrap .tabBtn_wrap h3 ~ h3{position:relative; margin-left:32px}
.movieChartBeScreen_btn_wrap .tabBtn_wrap h3 ~ h3:before{content:''; display:block; position:absolute; left:-16px; top:50%; width:1px; height:14px; margin-top:-7px; background-color:#d8d8d8}
.movieChartBeScreen_btn_wrap .tabBtn_wrap h3 a{text-decoration:none;font-weight:400; font-size:26px; color:#666; line-height:1.423em}
.movieChartBeScreen_btn_wrap .tabBtn_wrap h3 a.active{text-decoration:none;font-weight:700; color:#222}
/*.movieChartBeScreen_btn_wrap .btn_allView{padding:4px 32px 4px 15px; font-size:14px; color:#222; line-height:1.429em; background:transparent url('./../images/common/ico/arrowR_8x13.png') calc(100% - 7px) center/8px 13px scroll no-repeat; border:1px solid #e2e2e2; border-radius:15px; box-shadow:1px 1px 1px 0 rgba(0, 0, 0, 0.05)}*/
/* 리스트 디폴트 */
.cols-content {margin-top:25px;} /* 20140508 LineMap 상단 이동으로 인한 값 추가 */
*+html .cols-content{ zoom:1;}
.cols-content:after{ content:''; clear:both; display:block;}
.cols-content .col-detail{ position:relative; width:800px; float:left}
.cols-content .col-aside{width:160px; float:right}

.cols-content .col-detail:first-child{ float:left; }
.cols-content .col-detail + .col-aside{ float:right;}
.cols-content .col-aside:first-child{ float:left;}
.cols-content .col-aside + .col-detail{ float:right;}

div[class^="sect-"]{clear:both;zoom:1;}
div[class^="sect-"]:after{ content:'';clear:both;display:block; }
div[class^="sect-"] .box-contents li a{ display:block; font-weight:500; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
/* div[class^="sect-"] .box-contents img{} */
div[class^="sect-"] .btn-itemmore{ margin-top:30px;}

[class|="sect-base"] h3{ font:0/0 a;zoom:1;height:auto;margin:0;background:none;text-align:left;}
[class|="sect-base"] .box-image{ float:left;}
[class|="sect-base"] .box-contents{ float:left; position:relative;}
[class|="sect-base"] .title strong{ color:#1a1919; font-size:25px; vertical-align:middle;}
[class|="sect-base"] .title p{ color:#666666;}
[class|="sect-base"] .title em{ margin-left:12px;}
[class|="sect-base"] .title em.round-red span{ font-family:Verdana, Geneva, sans-serif; font-weight:bold; line-height:23px;}
[class|="sect-base"] .score{margin-top:25px; padding-bottom:10px; border-bottom:1px solid #d9d6c8; font-size:14px;}
[class|="sect-base"] .screentype{ position:absolute; right:0; top:150px;}
[class|="sect-base"] .screentype a{ margin-left:9px;}
[class|="sect-base"] .like{ margin-top:22px;}
/* 영화 차트 레이아웃 */
/* [class|="wrap-movie"][class*="chart"]{} */
[class|="wrap-movie"][class*="chart"] .tab-menu-line{ margin-top:20px;}
[class|="wrap-movie"][class*="chart"] .sect-movie-chart{ margin-top:30px;}

/* 영화차트 리스트 */
[class|="sect"][class*="chart"]{ position:relative; overflow:hidden; }
[class|="sect"][class*="chart"] > ol{ padding-left: 0;padding-top:30px; margin-left:-64px; zoom:1;}
[class|="sect"][class*="chart"] > ol:after{ content:''; clear:both; display:block;}
[class|="sect"][class*="chart"] > h4{ margin-top:30px; color:#222222; font-size:21px; font-weight:500;}
[class|="sect"][class*="chart"] > h4 + ol{ padding-top:20px;}
[class|="sect"][class*="chart"] > h3:first-child + ol, [class|="sect"][class*="chart"] > h4:first-child + ol{ padding-top:0;}
[class|="sect"][class*="chart"] > h3:first-child + ol .rank, [class|="sect"][class*="chart"] > h4:first-child + ol .rank,  [class|="sect"][class*="chart"] > .spec + ol .rank{ background:#943939;}
[class|="sect"][class*="chart"] > h3{ margin-top:30px; color:#222222; font-size:21px; font-weight:500;}
[class|="sect"][class*="chart"] > h3 + ol{ padding-top:20px;}
[class|="sect"][class*="chart"] > ol > li{ float:left; width:197px; margin-left:64px; padding-bottom:30px;}
[class|="sect"][class*="chart"] > h4 + ol > li:first-child .title, [class|="sect"][class*="chart"] > h3 + ol > li:first-child .title{ width:90%;}
[class|="sect"][class*="chart"] .chart-ad{ position:absolute; right:0; top:0;}
[class|="sect"][class*="chart"] .btn-more-fontbold{ float:right; margin-top:10px;}
[class|="sect"][class*="chart"] .box-image{ position:relative; width:197px; min-height:272px; margin-bottom:10px; }
/* [class|="sect"][class*="chart"] .thumb-image{  border: 6px solid #000000;} */
[class|="sect"][class*="chart"] .thumb-image > img{height:260px;}
/*[class|="sect"][class*="chart"] .screentype{ position:absolute; left:0; bottom:0; width:100%; height:29px; padding-top:27px; background:url('../images/common/bg/bg_poster-gradation.png') 0 0 repeat-x; text-align:center;}*/
[class|="sect"][class*="chart"] .screentype a, [class|="sect"][class*="chart"] .screentype span{ width:59px; height:20px; text-align:center; vertical-align:top;}
[class|="sect"][class*="chart"] .screentype .imax{ background-position:0 -780px;}
[class|="sect"][class*="chart"] .screentype .threeD{ background-position:0 -800px;}
[class|="sect"][class*="chart"] .screentype .forDX{ background-position:0 -820px;}
[class|="sect"][class*="chart"] .screentype .soundX{ background-position:0 -840px;}
[class|="sect"][class*="chart"] .screentype .arthouse{ background-position:0 -860px;}
[class|="sect"][class*="chart"] .screentype .collage{ background-position:0 -860px;}
[class|="sect"][class*="chart"] .screentype .screenx{ background-position:0 -880px;}
[class|="sect"][class*="chart"] .screentype .gold{ background-position:0 -900px;}
[class|="sect"][class*="chart"] .screentype .cine{ background-position:0 -920px;}

[class|="sect"][class*="chart"] .rank{ display:block; height:28px; margin-bottom:4px; /*border: 6px solid #000000;*/  background:#333333; color:#ffffff; font-size:19px; text-align:center; line-height:28px;}
[class|="sect"][class*="chart"] .rank.on{ background:#943939;}
[class|="sect"][class*="chart"] .no1{ position:absolute; right:-15px; bottom:-45px; display:block; width:48px; height:74px; background:url('~@/assets/img/ico/sprite_icon.png') -300px -20px no-repeat; font:0/0 a;zoom:1; z-index:1; }

[class|="sect"][class*="chart"] .title{ font-size:15px; }
[class|="sect"][class*="chart"] .score{ margin-top:7px;}
[class|="sect"][class*="chart"] .score .percent span{ display:inline-block; margin-left:10px;}
/*[class|="sect"][class*="chart"] .point{ margin-left:2px; padding-left:6px; background:url('../images/common/bg/bg_writeinfo.gif') left 1px no-repeat }*/
[class|="sect"][class*="chart"] .point li{ margin-left:2px;}
[class|="sect"][class*="chart"] .txt-info{ margin-top:3px; height:13px; color:#666666; font-weight:500; white-space:nowrap;}
[class|="sect"][class*="chart"] .like{ display:block; margin-top:10px; text-align:center;}
[class|="sect"][class*="chart"] .btn-like{ width:23px; height:23px; background-position:-60px -66px;}
[class|="sect"][class*="chart"] .btn-like.on { background-position:-83px -66px; }
[class|="sect"][class*="chart"] .count{ height:25px;line-height:23px; vertical-align:middle;}
[class|="sect"][class*="chart"] .count strong{ padding:0 4px;}
[class|="sect"][class*="chart"] .count .corner-arrow{ left:-3px; top:50%; width:4px; height:6px; margin-top:-4px; background-position:-10px 0; background-color:#ffffff;}
[class|="sect"][class*="chart"] .link-reservation{ width:57px; height:25px; background-position:-96px 0px;}
[class|="sect"][class*="chart"] .dday{ display:inline-block;}
[class|="sect"][class*="chart"] .warp-chart-ad{ position:absolute; right:0; top:0;}
[class|="sect"][class*="chart"] .spec{ padding:20px 22px; background:#f5f3e8; line-height:1.8;}
/*[class|="sect"][class*="chart"] .spec dt{ width:90px; padding-left:6px; background:url('../images/common/bg/blit.gif') 0 7px no-repeat;}*/
[class|="sect"][class*="chart"] .spec dd{ padding-left:96px;}
[class|="sect"][class*="chart"] .sort{ margin:40px 0 20px; text-align:center;}

/* [class|="sect"][class*="chart"] .list-more{} */
[class|="sect"][class*="chart"] .list-more{ padding-top:0px}
[class|="sect"][class*="chart"] .list-more li{  margin:0 0 -3px 0; padding:30px 0 30px 64px}
[class|="sect"][class*="chart"] .list-more li:first-child,
[class|="sect"][class*="chart"] .list-more li:first-child + li,
[class|="sect"][class*="chart"] .list-more li:first-child + li +li,
[class|="sect"][class*="chart"] .list-more li:first-child + li + li + li{ margin-top:0; border-top:none;}
.wrap-movie-chart .box-contents{ height:93px;}

[class|="sect"][class*="wishlist"] .like,
[class|="sect"][class*="chart"] .like {
    text-align: left !important;
}

[class|="sect"][class*="wishlist"] .like .link-reservation,
[class|="sect"][class*="chart"] .like .link-reservation {
    width: 97px !important;
    height: 25px !important;
    background: url('~@/assets/img/ico/sprite_preegg.png') 0 -110px no-repeat !important;

}

/* =============================
 영화상세 Style
============================= */
/* 영화상세 - 기본정보  */
.state{ border:1px solid blue; }
.title p{ font-size:12px; font-family:Verdana, Geneva, sans-serif;}
/* .wrap-movie-detail .sect-base{} */
.wrap-movie-detail .cols-content{ margin-top:30px;}
/* [class|="sect-base"][class$="movie"]{} */
[class|="sect-base"][class$="movie"] .box-image{ margin-right:30px;width:185px;height:260px}
[class|="sect-base"][class$="movie"] .thumb-image img{ width:185px; height:260px;}
[class|="sect-base"][class$="movie"] .box-contents{ width:765px; }
[class|="sect-base"][class$="movie"] .box-contents .like > .round {margin-left:4px; font-size:15px; line-height:29px; vertical-align:middle;}
[class|="sect-base"][class$="movie"] .box-contents .like > .round > * {padding:0 10px;}
[class|="sect-base"][class$="movie"] .spec{ padding-top:18px; line-height:1.6;}
[class|="sect-base"][class$="movie"] .spec:after{ content:''; display:block; clear:both;}
[class|="sect-base"][class*="movie"] .spec dd{ float:left;}
[class|="sect-base"][class*="movie"] .spec dd {white-space:normal; text-overflow:clip; overflow:visible;}
[class|="sect-base"][class$="movie"] .spec .on{ float:none; }
[class|="wrap-movie"][class$="detail"] .heading{ margin-bottom:20px;}
[class|="wrap-movie"][class$="detail"] [class^="sect-"]{ padding-top:40px;}
[class|="wrap-movie"][class$="detail"] .showtimes-wrap .sect-city{ margin-top:20px;}
[class|="wrap-movie"][class$="detail"] .showtimes-wrap .sect-schedule{ margin-top:0;}
[class|="wrap-movie"][class$="detail"] .showtimes-wrap .sect-guide{ margin-top:0;}
[class|="sect-story"][class*="movie"]{ color:#333333; line-height:1.8;}
[class|="sect-story"][class*="movie"] strong{ font-size:13px; }
[class|="sect-story"][class*="movie"] p{ margin-top:10px; font-size:12px; line-height:2;}



/* =============================
 ICON Style
============================= */

/* 영화포스터 크게 보기 +  */
.ico-posterdetail{ display:block; position:absolute; left:4px; bottom:3px; width:24px; height:24px; background:url('~@/assets/img/ico/sprite_icon.png') 0 0 no-repeat; font:0/0 a;zoom:1;}

/* ico 영화등급 */
.ico-grade{ display:block; position:absolute; left:5px; top:5px; width:21px; height:21px; background:url('~@/assets/img/ico/sprite_icon.png') no-repeat;font:0/0 a;zoom:1;}
.ico-grade.grade-all{ background-position:-30px 0;}/* 전체 */
.ico-grade.grade-12{ background-position:-51px 0;}/* 12세 */
.ico-grade.grade-15{ background-position:-72px 0;}/* 15세 */
.ico-grade.grade-19{ background-position:-93px 0;}/* 청불 */
.ico-grade.grade-none{ background-position:-114px 0;}/* 미정 */
.eng .ico-grade.grade-all{ background-position:-135px 0;}/* 영어전체 */
.eng .ico-grade.grade-19{ background-position:-156px 0;}/* 영어 청불 */

.box-image a{ display:block;}
.box-image img{ width:100%;}
.thumb-image{ display:block; position:relative;}

/* text */
.dday{display:inline-block; margin-left:5px; color:#fb4357; font-size:12px; font-family:Verdana, Geneva, sans-serif; font-weight:bold;}
.txt-info{ display:block; color:#999999; font-size:12px;}
.txt-info > strong {font-size:11px;}
.txt-info > em{ display:block;}
.title{ display:block; color:#333333; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.score{ font-size:11px; }
.score .percent span{ color:#333333; font-size:12px; font-weight:normal; font-family:Verdana, Geneva, sans-serif; vertical-align:-1px;}
.score .count{ color:#666666;font-weight:500; font-size:13px;}
.spec{ color:#333333; font-size:13px; font-weight:500;}

/* .spec dl{} */
.spec dt{ float:left;}
.spec dd{white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}

/* 상영 타입 */
.screentype { display:block;}
.screentype span, .screentype a{ display:inline-block; width:80px; height:56px; background:url('~@/assets/img/ico/sprite_screentype_v3.png') no-repeat; font:0/0 a;zoom:1;}
.screentype .IMAX{ background-position:0 0;}
.screentype .threeD{ background-position:0 -56px;}
.screentype .FOUR_D_FLEX{ background-position:0 -112px;}
.screentype .soundX{ background-position:0 -168px;}
.screentype .gold{ background-position:0 -224px;}
.screentype .cine{ background-position:0 -280px;}
.screentype .collage{ background-position:0 -336px;}
.screentype .sametime{ background-position:0 -755px;}
.screentype .arthouse {background:url('~@/assets/img/ico/sprite_screentype_v3.png') no-repeat;background-position:0 -860px;}
.wrap-search .screentype .arthouse {background:url('~@/assets/img/ico/sprite_screentype_v3.png') no-repeat;background-position:0 -660px;}
.wrap-movie-detail .screentype .arthouse {background:url('~@/assets/img/ico/sprite_screentype_v3.png') no-repeat;background-position:0 -660px;}

/* 라운드박스 */
.round , .round > *{ display:inline-block; position:relative;  }
.round {line-height:23px; font-weight:500; font-size:12px; text-align:center; vertical-align:middle;}
.round > *{ box-sizing:border-box!important; -moz-box-sizing:border-box; width:100%; height:100%; padding:0 5px 0;}
*+html .round{ white-space:nowrap; }
*+html .round > *{  border:none !important; padding:0; cursor:pointer; }
.round.red{ border:2px solid #fb4357; color:#fb4357; }
.round.black{ border:2px solid #333333; color:#333333; }
.round.lightblue{ border:2px solid #3e82a4; color:#3e82a4; }
.round.brown{ border:2px solid #a16423; color:#a16423; }
.round.gray{ border:2px solid #7b7b7b; color:#7b7b7b; }

.round.white{ border:2px solid #fff; color:#fff; }

.round.red1{ border:1px solid #fb4357; color:#fb4357; line-height:27px; }
.round.black1{ border:1px solid #333333; color:#333333;  line-height:27px;}
.round.blue1{ border:1px solid #336699; color:#336699;  line-height:27px;}
.round.brown1{ border:1px solid #a16423; color:#a16423;  line-height:27px;}
.round.gray1{ border:1px solid #7b7b7b; color:#7b7b7b;  line-height:27px;}
.round.white1{ border:1px solid #f8f8f8; color:#f8f8f8;  line-height:27px;}
.round.purple1{ border:1px solid #993ecd; color:#993ecd;  line-height:27px;}
.round.aqua1{ border:1px solid #2a9db6; color:#2a9db6;  line-height:27px;}

.round.on.red{ border:2px solid #fb4357; background-color:#fb4357; color:#ffffff; }
.round.on.black{ border:2px solid #333333; background-color:#333333; color:#ffffff; }
.round.on.blue{ border:2px solid #336699; background-color:#336699; color:#ffffff; }
.round.on.brown{ border:2px solid #a16423; background-color:#a16423; color:#ffffff; }
.round.on.gray{ border:2px solid #7b7b7b; background-color:#7b7b7b; color:#ffffff; }

.round.on.red1{ border:1px solid #fb4357; background-color:#fb4357; color:#ffffff; }
.round.on.black1{ border:1px solid #333333; background-color:#333333; color:#ffffff; }
.round.on.blue1{ border:1px solid #336699; background-color:#336699; color:#ffffff; }
.round.on.brown1{ border:1px solid #a16423; background-color:#a16423; color:#ffffff; }
.round.on.gray1{ border:1px solid #7b7b7b; background-color:#7b7b7b; color:#ffffff; }

.round.inred{ background:#fb4357; border:2px solid #fb4357; color:#ffffff; line-height:21px;}
.round.inred > *{ border:1px solid transparent}
.round.inblack{ background:#222222; border:2px solid #222222; color:#ffffff; line-height:21px;}
.round.inblack > *{ border:1px solid #5b5b58;}
.round.inbrown{ background:#a3774d; border:2px solid #a3774d; color:#ffffff; line-height:21px;}
.round.inbrown > *{ border:1px solid #bfa083;}
.round.ingray{ background:#999999; border:2px solid #999999; color:#ffffff; line-height:21px;}
.round.ingray > *{ border:1px solid #b8b8b8;}

/* 영화찜하기 */
.like{ display:inline-block; margin-right:3px;}

/* MY CGV Aside Area */
.cols-content {padding-top:25px}
.cols-content .col-aside h2 {font:0/0 a; visibility:hidden; zoom:1;}
.cols-content .col-aside .snb a {display:block; position:relative;}
.cols-content .col-aside .snb > ul {margin-bottom:10px;}
.cols-content .col-aside .snb > ul > li {border-top:1px solid #fff;}
.cols-content .col-aside .snb > ul > li:hover,
.cols-content .col-aside .snb > ul > li:focus,
.cols-content .col-aside .snb > ul > li.on {margin-top:1px; border-top:0 none}
.cols-content .col-aside .snb > ul > li > a {width:155px; height:34px; padding-left:10px; color:#222; font-weight:500; font-size:14px; line-height:34px;}
.cols-content .col-aside .snb > ul > li:hover > a,
.cols-content .col-aside .snb > ul > li > a:focus,
.cols-content .col-aside .snb > ul > li.on > a {background-color:#fb4357; color:#fdfcf0;}
.cols-content .col-aside .snb > ul > li > a > i {display:none;}
.cols-content .col-aside .snb > ul > li:hover > a > i,
.cols-content .col-aside .snb > ul > li > a:focus > i,
.cols-content .col-aside .snb > ul > li:first-child{border-top:1px solid #fff}
.cols-content .col-aside .snb > ul > li:hover,
.cols-content .col-aside .snb > ul > li:focus,
.cols-content .col-aside .snb > ul > li.on {margin-top:1px; border-top:0 none}
.cols-content .col-aside .snb li ul {padding:15px 0;}
.cols-content .col-aside .snb li li {margin-top:10px;}
.cols-content .col-aside .snb li li:first-child {margin-top:0;}
.cols-content .col-aside .snb li li > a {width:125px; height:14px; padding:0 0 0 35px; font-size:12px; line-height:14px;white-space: nowrap;letter-spacing: -0.02em;}
.cols-content .col-aside .snb li li:hover > a,
.cols-content .col-aside .snb li li > a:focus,

.cols-content .col-aside .ad-partner01,
.cols-content .col-aside .ad-partner02 {margin-bottom:10px;}


.cols-content .sect-com-info {margin-bottom:15px; color:#222; font-weight:300; font-size:25px; text-align:center;}
.cols-content .sect-com-info p {margin-bottom:6px;}
.cols-content .sect-com-info p > em,
.cols-content .sect-com-info p > strong {color:#000; font-weight:500;}
.cols-content .sect-com-info span {color:#666; font-size:14px;}
.cols-content .info-log {width:792px; height:30px; margin-bottom:10px; padding-left:8px; background-color:#222; color:#f8f8f8; line-height:30px;}
.cols-content .info-log > a {margin-left:10px; line-height:17px;}
.cols-content .info-log.best {margin-bottom:25px; background-color:#f8f8f8; color:#222; font-weight:500; font-size:13px; text-align:center;}


.sect-graph li{ width:33.3%;}
.sect-staff li{ width:100px;}
.sect-staff .box-contents{ margin-top:10px;}
.sect-stillcut .slider-wrap{width:800px; height:450px;}
.sect-grade .list-grade{ padding-bottom:20px;}
.sect-grade .list-grade:after{ content:''; clear:both; display:block;}
.sect-grade .sort{ text-align:left;}
.sect-grade .wrap-persongrade > ul{ border-top:1px solid #999999;  color:#333333;}
.sect-grade .wrap-persongrade > ul > li{ padding:30px 0; border-bottom:1px solid #ddd; zoom:1;}
.sect-grade .wrap-persongrade > ul > li:after{ content:''; clear:both; display:block;}
.sect-grade .wrap-persongrade .box-image{ float:left; width:62px; height:62px; padding:0 20px;}
.sect-grade .wrap-persongrade .box-image .thumb-image {width:62px; height:62px;}
.sect-grade .wrap-persongrade .box-image .thumb-image img{width:62px; height:62px;}
.sect-grade .wrap-persongrade .box-image .thumb-image .profile-mask{ display:block; position:absolute; left:0; top:0; width:62px; height:62px; background:url('~@/assets/img/ico/bg_myphotocircle.png') 0 0 no-repeat;}
.sect-grade .wrap-persongrade .box-contents{ padding-left:100px;}
.sect-grade .wrap-persongrade .box-contents p{ margin:10px 0; padding-right:20px;}
.sect-grade .wrap-persongrade .box-contents .point li{ margin-left:2px;}
.sect-grade .wrap-persongrade .box-contents .point li:first-child{ margin-left:0;}
.sect-grade .wrap-persongrade .box-contents .point em{ font-size:11px;}
.writerinfo li{ float:left; padding:0 8px; background:url('~@/assets/img/ico/bg_writeinfo.gif') 0 1px no-repeat; color:#666666; font-size:11px; font-weight:500; line-height:14px;}
.writerinfo li:first-child{ background:none; padding-left:0;}
/* 화살표 */
.arrow-down{ display:inline-block; border-top:4px solid #000000; border-right:4px solid transparent; border-bottom:4px solid transparent; border-left:4px solid transparent; vertical-align:middle;}
/* 소팅 베이스 */
.sort{ margin:20px 0 10px; text-align:center;}
.sort > li{ display:inline-block; padding:0 8px 0 9px; border-left:1px solid #d7d3c8; font-weight:500; color:#666666; font-size:13px;}
*+html .sort > li{ display:inline;}
.sort > li:first-child{ padding-left:0; border-left:none; }
.sort .arrow-down{ display:none; margin:2px 0 0 5px;}
*+html .sort .arrow-down{ vertical-align:-11px;}
.sort li.on > a,
.sort li.on > a:hover{ color:#fb4357;}
.sort li.on .arrow-down{ display:inline-block; border-top:4px solid #fb4357;}
.sort li.list{ position:relative;}
.sort li.list > a{ padding-right:15px; background:url('~@/assets/img/ico/sprite_icon.png') right 1px no-repeat;}
.sort li.list.on > a{ background-position: right -19px}
.sort li.list > ul{ position:absolute; left:10px; top:20px; min-width:135px; padding:12px 20px; border:1px solid #222222; background:#ffffff; text-align:left; z-index:5;}
.sort li.list > ul > li{ margin:8px 0;}

/*영화상세 페이지 평점*/
.wrap-movie-detail ul.point_col2 {position: relative;margin: 0 25px -2px;overflow: hidden;}
.wrap-movie-detail ul.point_col2>li {position: relative;float: left;margin-right: -1px;border-right: none;width: 50%;height: 150px;padding: 30px 0;border-bottom: 1px solid #ddd;zoom: 1;}
.wrap-movie-detail ul.point_col2>li .writerinfo > li:first-child {float: left;}
.wrap-movie-detail ul.point_col2>li .writerinfo > li {float: none;background: none;}
.wrap-movie-detail ul.point_col2>li .box-comment p {font-size: 13px;}


/*141217 평점 추가*/
.point_col2 li div.box-image {padding-right:26px !important;}
.point_col2 li div.box-contents {padding-left:108px !important;}
.point_col2 li:nth-child(2n+1) div.box-image {margin-left: 0!important; padding-left: 0!important;}
.point_col2 li:nth-child(2n+1) div.box-contents {padding-left:88px !important;}

.point_col2 li div.box-image {padding-right:26px !important;}
.point_col2 li div.box-contents {padding-left:108px !important;}
.point_col2 li:nth-child(2n+1) div.box-image {margin-left: 0!important; padding-left: 0!important;}
.point_col2 li:nth-child(2n+1) div.box-contents {padding-left:88px !important;}

.point_col2 .writerinfo li.point_edit {position: absolute;top:-5px;right: 10px;padding: 0;}
.point_col2 .writerinfo li.point_notify {position: absolute;top:-5px;right:-10px;padding:0;}
.point_col2 li:nth-child(2n+1) .writerinfo li.point_notify {right:10px;}

.point_col2 > li div.box-comment {margin:4px 21px 0 108px !important;}
.point_col2 > li:nth-child(2n+1) div.box-comment {margin:4px 40px 0 88px !important;}
.point_col2 .writerinfo {position:relative; height:24px;padding-left: 0}
.point_col2 .writerinfo .writer-etc {position:absolute; left:0; bottom:-100px; padding:0 !important;}
.point_col2 .writerinfo .writer-etc .vip {display:block; color:#7c0aad; font-size:13px; line-height:1 !important;}
.point_col2 .writerinfo .writer-etc .day {padding-right:8px; margin-right:6px; background:url('~@/assets/img/ico/bg_writeinfo.gif')  no-repeat 100% 0;}
.point_col2 .writerinfo .writer-etc .like {color:#000000;}
.point_col2 .writerinfo .writer-etc > * {vertical-align:middle;}
/*141217 평점 추가*/
.wrap-grade .wrap-persongrade > ul.point_col2 > li{border-right: none;}
.point_col2 {margin: 0 auto -2px!important;padding: 0 25px;}
.point_col2 .writerinfo .position .see, .point_col1 .writerinfo .position .see {background: #fb4357;color: #fff;padding: 0 6px;margin-left: 6px;}
.point_col2 li:nth-child(2n+1) div.box-image, .point_col2 li:nth-child(2n+1) div.box-comment {padding-left: 0!important;}
.point_col2 li:nth-child(2n+1) div.box-contents {padding-left: 81px;}
.point_col2 .writerinfo li {margin-bottom: 3px;line-height: 20px!important;}
.point_col2 li.user_my_point_list {background: #edece2}
/* .point_col2 .writerinfo {} */
.point_col2 .writerinfo li.point_edit, .point_col2 .writerinfo li.point_notify {position: absolute;top: 24px;right: 10px;padding: 0;}

.point_col2 .writerinfo li.point_like {position: absolute;right: 12px;top: 77px;color: #000;}
.point_col2 li.point_notify {position: absolute;top:0;right:0;}
.point_col2 li.user_my_point_list:before {content:"";display: block;height:100%;position: absolute;top:0;bottom:0;left:-25px;width:25px;background:#edece2;}
.point_col2 .btn_edit.on+div.edit_wrap, .point_col2 .btn_notify.on+.notify_wrap {display: block!important;position: absolute;z-index: 1;}
.point_col2 > li .box-comment {margin: 15px 20px 0;}
.point_col2 .writerinfo li.point_edit .edit_wrap ul li,
.point_col2 .writerinfo li.point_notify .notify_wrap ul li {display: block;background: none;padding: 0;color:#edece2}
.point_col2 .btn_edit+div.edit_wrap ul li,
.point_col2 .btn_notify+div.notify_wrap ul li {display: block;float: none;line-height: 40px!important;text-align: right;padding-right: 12px!important;margin-bottom: 0;}
.point_col2 .btn_edit+div.edit_wrap ul li a {padding-left: 36px;}
.point_col2 .btn_notify+div.notify_wrap ul li a {padding-left: 36px;}
.point_col2 .btn_edit+div.edit_wrap ul li a span,
.point_col2 .btn_notify+div.notify_wrap ul li a span {display: block;padding-right:28px;}
.point_col2 .btn_edit+div.edit_wrap ul li+li a span,
.point_col2 .btn_notify+div.notify_wrap ul li+li a span{border-top: 1px solid #4b4b4b;}
.point_col2 .btn_point_like span, .point_col1 .btn_point_like span {display: inline-block;line-height: 20px;vertical-align: top;}
.point_col2 .btn_point_like span+span, .point_col1 .btn_point_like span+span {margin-left:6px;}

.sect-grade .wrap-persongrade .user_my_point_list .box-image .thumb-image .profile-mask {background:url("~@/assets/img/ico/bg_myphotocircle.png") 0 0 no-repeat;}

.point_col2 li a.screen_spoiler,
.point_col2 li.user_spolier a.screen_spoiler.hide,
.point_col2 li.user_swearword a.screen_spoiler.hide,
.point_col2 li.user_spolierswear a.screen_spoiler.hide{display: none;position: absolute;top:0;right:1px;left:1px;bottom:0;width:374px;height:100%;}

.wrap-grade .wrap-persongrade > ul.point_col2> li:nth-child(2n+1),
.wrap-movie-detail .wrap-persongrade > ul.point_col2> li:nth-child(2n+1) {width: 374px;padding-left:1px!important;border-right: 1px solid #ddd;}
.point_col2 .writerinfo .vr .round.red {margin-left:5px;}
.point_col2 .writerinfo .vr .round.red * {padding: 0;margin: 0;line-height: 16px;}
.point_col1 .writerinfo .round.red * {padding: 0;margin: 0;line-height: 16px;}
.point_col2 .writerinfo .vr .round.red span em, .point_col1 .writerinfo .round.red span em {padding:0 3px;}
.point_col2 a.btn_point_like.like, .point_col1 a.btn_point_like.like {margin: 0;}
.writerinfo .writer-name {font-size:12px; cursor:pointer;}
.writerinfo .writer-opinion {font-size:12px; color:#000000;}

.link-reservation{ display:inline-block; width:91px; height:35px; background:url('~@/assets/img/ico/sprite_btn.png') 0 0 no-repeat;font:0/0 a;zoom:1; vertical-align:top;}

/* Paging Button */
.btn-paging{display:inline-block; min-width:56px; min-height:40px; margin:0 2px; font-weight:500; font-size:14px; color:#222; background:url('~@/assets/img/ico/btn_paging.gif') no-repeat; border:1px solid #d8d8d8}
.btn-paging.dim{ color:#b0afa9;cursor:default}
.btn-paging.prev{margin-right:16px;  padding:0 10px 0 24px; vertical-align:top; background-position:2px 7px; border-radius:4px}
.btn-paging.prev.dim{ background-position: 2px -19px;}
.btn-paging.next{margin-left:16px; padding:0 24px 0 10px; vertical-align:top; background-position:calc(100% - 2px) -45px; border-radius:4px}
.btn-paging.next.dim{ background-position:calc(100% - 2px) -71px;}
.btn-paging.first{min-width:40px; padding:0; vertical-align:top; background-position:12px -97px; font:0/0 a; zoom:1; border-radius:4px}
.btn-paging.first.dim{ background-position:12px -123px}
.btn-paging.end{ min-width:40px; padding:0; vertical-align:top; background-position:12px -149px; font:0/0 a; zoom:1; border-radius:4px}
.btn-paging.end.dim{ background-position:12px -175px}

/* =============================
 Paging Style
============================= */
.paging{ text-align:center; margin-top:25px;}
.paging > ul{ display:inline-block; vertical-align:top;}
.paging li{ display:inline-block; padding:0 8px; font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:16px; color:#000; line-height:40px}
.paging li.on,
.paging li a:hover,
.paging li a:focus {color:#fb4357; text-decoration:underline}
.paging li.paging-side{ padding:0; vertical-align:top}
*+html .paging li.on a{color:#fb4357; text-decoration:underline}
*+html .paging > ul{ display:inline;}
*+html .paging li{ display:inline;}

/* Heading Css (only) */
h3 {height:41px; margin:30px 0 15px; background:url(https://img.cgv.co.kr/r2014/images/common/bg/bg_h3_line.jpg) repeat-x 0 50%; line-height:41px; text-align:center; font-weight:500;}
h3 > img { padding:0 8px; background-color:#fdfcf0;}
h3.sub{ height:auto; background-position:0 17px;}
h3.sub > span{ display:block; margin-top:3px; background-position:0 17px; font-size:17px; color:#333333; }
h3.sub > span > strong{ color:#c62422;}

/* Heading Css (combo) */
.tit-heading-wrap {position:relative; height:60px; padding-top:30px; border-bottom:3px solid #241d1e;}
.tit-heading-wrap > h3 {display:inline-block; position:relative; height:inherit; margin:0; background-image:none; color:#222; font-weight:500; font-size:36px; text-align:left; vertical-align:middle;}
*+html .tit-heading-wrap > h3 { display:inline;}
.tit-heading-wrap > h3 + a {display:inline-block;}
.tit-heading-wrap > .submenu {position:absolute; top:48px; right:0;}
.tit-heading-wrap > .submenu > ul {overflow:hidden;}
.tit-heading-wrap > .submenu > ul:after {content:''; clear:both; display:block;}
.tit-heading-wrap > .submenu > ul > li {float:left; margin-left:15px;}
.tit-heading-wrap > .submenu > ul > li:first-child {margin-left:0;}
.tit-heading-wrap > .submenu > ul > li > a {display:inline-block; padding-left:13px; font-weight:500; font-size:14px;}
.tit-heading-wrap > .submenu > ul > li.on > a,
.tit-heading-wrap > .submenu > ul > li > a:hover,
.tit-heading-wrap > .submenu > ul > li > a:focus {background:url('~@/assets/img/ico/ico_arrow07.png') no-repeat 0 3px; color:#fb4357!important;}

.tit-heading-wrap .sect-sorting { display:inline-block; margin-top:0;}
/* Sorting Css */
.sect-sorting {position:relative;margin-top:20px; text-align:right;}
.sect-sorting .nowshow {position:absolute;left:0;top:0}
.sect-sorting > select {padding:3px 5px;}
.sect-sorting > select option {height:23px; line-height:23px;}





